*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f5f5f5;
    font-family:Arial, Helvetica, sans-serif;
    color:#222;
}

html, body{
    overflow:hidden;
}

/* ===========================
   GRÁFICOS
=========================== */

.container{
    width:99vw;
    margin:5px auto;
    display:flex;
    gap:20px;
}

.grafico-container{
    flex:1;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.grafico-container label{
    font-size:18px;
    font-weight:bold;
    margin-bottom:10px;
}

.grafico-container input,
.grafico-container select{
    width:90%;
    padding:10px 12px;
    margin-bottom:10px;
    border:1px solid #ccc;
    border-radius:6px;
    outline:none;
    font-size:14px;
}

.grafico-container input:focus,
.grafico-container select:focus{
    border-color:#2563eb;
}

.grafico{
    width:100%;
    height:600px;
    background:#fff;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,.15);
}

/* ===========================
   TABELA
=========================== */

.tables-container{
    width:99vw;
    margin:10px auto;
    display:flex;
    gap:20px;
}


.table-container{
    flex:1;
    background:#fff;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,.15);

    max-height:250px;
    overflow-y:auto;
    overflow-x:auto;
}


.table-container h3{
    text-align:center;
    padding:10px;
}


table{
    width:100%;
    border-collapse:collapse;
}


thead{
    position:sticky;
    top:0;
    background:#1f2937;
    color:white;
}


th,
td{
    padding:10px;
    text-align:center;
    border-bottom:1px solid #ddd;
}

/* ===========================
   RESPONSIVIDADE
=========================== */

@media (max-width:1000px){

    .container{
        flex-direction:column;
    }

    .grafico-container{
        width:100%;
    }

    .grafico{
        height:500px;
    }

    .grafico-container input,
    .grafico-container select{
        width:100%;
    }

}