<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Keyboard Analytics</title>

    <script src="https://cdn.plot.ly/plotly-2.35.2.min.js"></script>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<main>

    <div class="container">

        <div class="grafico-container">

            <label for="kmeans-clusters">K-Means</label>

            <input
                type="text"
                id="kmeans-clusters"
                placeholder="Clusters: 1/2/5/67/32">

            <div id="kmeans-chart" class="grafico"></div>

        </div>

        <div class="grafico-container">

            <label for="dbscan-clusters">DBSCAN</label>

            <input
                type="text"
                id="dbscan-clusters"
                placeholder="Clusters: 1/2/5/67/32">

            <div id="dbscan-chart" class="grafico"></div>

        </div>

    </div>

<div class="tables-container">

    <div class="table-container">
        <table id="kmeans-table">
            <thead>
                <tr>
                    <th>Cluster</th>
                    <th>Dono</th>
                    <th>Acertos</th>
                    <th>Erros</th>
                    <th>Total</th>
                    <th>Pureza (%)</th>
                </tr>
            </thead>

            <tbody>
                <!-- Preenchido pelo JavaScript -->
            </tbody>

        </table>

    </div>


    <div class="table-container">
        <table id="dbscan-table">

            <thead>
                <tr>
                    <th>Cluster</th>
                    <th>Dono</th>
                    <th>Acertos</th>
                    <th>Erros</th>
                    <th>Total</th>
                    <th>Pureza (%)</th>
                </tr>
            </thead>

            <tbody>
                <!-- Preenchido pelo JavaScript -->
            </tbody>

        </table>

    </div>

</div>
</main>

<script src="{{ url_for('static', filename='js/tabela.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>
</html>